*{
    box-sizing: border-box;
}

body{
    margin:0px;
}

img {
   height: 50%;
    width: 50%;
 }

 .even-bigger-container{
   background-color: rgb(255, 199, 229);
   height:100vh;
   width:100%;
   display:flex;
   -ms-flex-align: center;
   -ms-flex-item-align: center;
   shape-image-threshold: inherit;
   justify-content: center;
   align-items: center;

}
 .main-container{
    background-color: rgb(255, 253, 146);
    height:600px;
    width:820px;
    padding:10px;
align-items: center;
    flex-direction: column;
   
  
    
 }

 .top{
    background-color: rgb(66, 158, 182);
    height: 100px;
    width:800px;
    display:flex;
    justify-content: center;
    align-items: center;
    position: relative;
 }

 .top-item{
    padding:20px;
    -webkit-text-fill-color: rgb(255, 253, 146);
    font-family:cursive;
    text-align: center;
    align-items: center;

 }

 .top-right-item{
    -webkit-text-fill-color: rgb(255, 253, 146);
    font-family: cursive;
    position:absolute ;
    top:0;
    right:0;
    
 }
 .bottom{
    background-color: rgb(255, 253, 146);
    height: 480px;
    width:800px;
    display:flex;
 }


 .right{
    background-color: rgb(73, 147, 184);
    height: 100%;
    width: 400px;
    display:flex;
   
 }

 .left{
    background-color: rgb(126, 181, 202);
    height: 100%;
    width: 400px;
    display:flex;
    
 }

 .left-item{
    padding:20px;
    -webkit-text-fill-color: rgb(255, 253, 146);
    font-family:cursive;
 }

 .right-item{
    padding:20px;
    -webkit-text-fill-color: rgb(255, 253, 146);
    font-family:cursive;
 }