*{
    box-sizing: border-box;
}


img {
    max-width: 100%;
 }


 .menu {
    background: lightblue;
    position: fixed;
    right: -200px;
    top:0;
    height: 100%;
    width: 200px;
    padding:20px;
    text-align: center;
    transition: right .5s;
 }
 .active {
  right:0;
 }