*{
    box-sizing: border-box;
}

img {
    max-width: 100%;
 }

 body {
    font-size: large;
    color: rgb(255, 0, 179);
    
 }
 .main-container{
    background-color: whitesmoke;
    height: 100vh;
    padding:10px;
    display:flex;
    flex-direction: column;}