body{ 
    text-align: center;
    font-size: medium;
    image-orientation:max 100%;
    font-family:Georgia, 'Times New Roman', Times, serif
    background-color: rgb(229, 229, 228);
    
}

img{ 
    max-width: 200px;
    max-height: 200px;
}
